@import 'node_modules/primeflex/primeflex.scss';

@import './AppDemo.scss';

.p-calendar .p-inputtext {
    background-color: white;
}

.th.p-datepicker-weekheader{
    font-weight: bold;
    color: black;
}

.p-datepicker-weeknumber .p-disabled{

    
    background-color: #0F8BFD;
    color: black;
    font-weight:bold;
    
}

// .p-datepicker table th > span {
//     background-color: cyan;
//     color: black;
// }
